*{
    font-family: "Inter", serif;
}

.navbar-brand{
    font-weight: 500 !important;
    color:#3D52A0 !important;
    font-size: 24px;
    transition: 0.3s color !important;
}
.navbar-toggler {
    border: none !important;
    font-size: 1.2rem !important;

}
.navbar-toggler:focus,.btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777;
    font-weight: 500 !important;
    position: relative;
}
.nav-link:hover,.nav-link.active{
    color: #000;
}
/* ////////////////////////////////// */

.choose-us{
    width: 100vw;
}


@media(max-width:768px) {
    .choose-us{
        width: 100vw;
    }

    .content .title{
        font-size: 16px !important;
        font-weight: 500 !important;
    }
    .content .des{
        font-size: 12px !important;
        font-weight: 300;
    }

    .content{
        bottom:0;
        /* font-size: 16px; */
        position: relative;
        width: 100vw;
        height: 100px;
        background-color: rgb(255, 255, 255);
        /* transform: translateX(40%); */

        padding: 10px !important;
        text-align: justify;
        /* font-weight: 300; */


    }
    .carousel .list {
        width: 100vw;
        height: 200px;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100% 100%;;
        z-index: 100;
        transition: 1s;
    }
    .carousel .list .item{
        background-repeat: no-repeat;
        /* transform: translateY(-20%); */
        background-size: cover;
        /* background-clip: border-box; */
        /* overflow:hidden */
    }
    .carousel{
        width: 100vw;
        height: 300px;
        transform: translateY(-50%);
    
        position: relative;
    }
}










.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 80%;
}

.carousel .list .item:nth-child(4){
    left: calc(80% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(80% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(80% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(80% + 800px);
    opacity: 0;
}





.list .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-40%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 100px;
    text-transform: capitalize;
    color: #5f5f5f;
    font-weight: bold;
    line-height: 1.5;
    word-spacing: 10px;

    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}


.content{
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
.about-us-design{
    
    font-family: "Amatic SC",serif!important;
    font-size: 50px;
    font-weight: 700;
}
.about-us-design span{
    font-family: "Amatic SC",serif!important;
    color: #e40000;
}
.about-us-design-heading{
    color: #424242;
}
.about-us-design-paragraph{
    color: #535353;
    font-weight: 300;
    text-align: justify;
}
.our-vision-heading{
    color: #424242;
}
.our-vision-paragraph{
    color: #535353;
    font-weight: 300;
    text-align: justify;
}
.content .des{
    color: #616161;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px !important;
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.content .btn{
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button{
    background-color: #8697C4;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* border: 2px solid #fff; */
    border-radius: 10px;
}

.content .btn button:hover{
    background-color: #3D52A0;
    color: #ffffff;
}

.content .btn button:nth-child(1){
    margin-right: 15px;
}

.content .btn button:nth-child(2){
    background: transparent;
    color: #3D52A0;
    border: 2px solid #fff;
    transition: 0.3s;
}

.content .btn button:nth-child(2):hover{
    background-color: #3D52A0;
    color: #fff;
    border-color: #3D52A0;
}


@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */






/* next prev arrows */


/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #3D52A0;
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}



.content .title{
    font-size: 30px;
}


/* Responsive Design */


@media screen and (max-width: 991px){
    


    .list .item .content{
        left: 50px;
    }

    .content .title, .content .name{
        font-size: 20px;
    }
    
    .content .des{
    font-size: 10px;
    }
    
}
@media (min-width: 991px){
    .content .title{
        text-transform: capitalize !important;
        font-size: 30px !important;
    }
    .content .des{
    font-size: 15px !important;
    }
    
}

@media screen and (max-width: 767px){


    .list .item .content{
        left: 0;
        top: 80%;
        height: 40%;
        width: 100vw;
        background-color: white;
    }

    .content .title, .content .desc{
        font-size: 10px;
    }

    .content .title, .content .title{
        font-size: 12px;
    }
    .content .btn{
        margin: 0;
        width: 100vw;
        margin-left: auto;
    }
    .content .btn button{
    
        padding: 8px 15px;
        font-size: 8px;
    }
}
/* ///////////////////////////// */

/* mydivider */


/* .mydivider{
    position: relative;
    margin-top: 15px;
    height: 0;
    border-bottom: 1px solid #c0c0c0;
    width: 95%;
    box-shadow:0px 10px 50px 0px #d6d2d2 ;
    margin: auto;
} */

/* ////////////////////////////////// */



/* About us  */




.nav-tabs .nav-link {
    color: #555;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #3D52A0 !important;
    
  }
  
  .product-card {
    transition: transform 0.3s, box-shadow 0.3s;
    
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #3D52A0;
  }
  
  .product-card img {
    border-radius: 10px 10px 0 0;
  }
  
  .product-card h5 {
    margin-top: 10px;
    font-weight: bold;
  }



  /* ////////////////////////////////////////////////////// */



  .quick-link-card {
    min-height: 80px;
    padding-right: 10px; 
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
  }
  .quick-link-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .icon-container {    
    background-color: #3D52A0;
    color: white;
    width: 50px;
    padding: 27px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  .icon-container i {
    font-size: 1.5rem;
  }
  .card-title {
    margin-bottom: 0;
    font-weight: bold;
  }
  .arrow-support {
    margin-left: auto;
    color:#7091E6;
  }



  /* /////////////////////////////// */



  /* Vision */

  .btn-outline-primary {
    --bs-btn-color: #3D52A0 !important;
    --bs-btn-border-color: #3D52A0 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3D52A0 !important;
    --bs-btn-hover-border-color: #3D52A0 !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3D52A0 !important;
    --bs-btn-active-border-color: #3D52A0 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #3D52A0 !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #3D52A0 !important;
    --bs-gradient: none;
}



/* ///////////////////////////////////
 */



/* Choose Us */





 /* ////////////////////////////// */
 .rounded-circle {
    border-radius: 50% !important;
}
.choose-img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.sub-info{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #004975;
}

.display-30 {
    font-size: 0.9rem;
}







/* ////////////////////////

client card
*/



.client-card{
    height: 50px;
    object-fit: fill;
    
}



.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3D52A0 !important;
    --bs-btn-border-color: #3D52A0 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1e2b5a !important;
    --bs-btn-hover-border-color: #3D52A0 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3D52A0 !important;
    --bs-btn-active-border-color: #3D52A0 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3D52A0 !important;
    --bs-btn-disabled-border-color: #3D52A0 !important;
}

.nav-tabs {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of items */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
  }
  
  .nav-tabs::-webkit-scrollbar {
    display: none; /* Hide scrollbar for a cleaner look */
  }
  
  .nav-item {
    flex: 0 0 auto; /* Ensure tabs don't stretch */
    text-align: center; /* Align text in the center */
  }
  
  .nav-link {
    white-space: nowrap; /* Ensure text stays in one line */
  }





  /* ////////////////////////////////
   */


   /* Contact page css */



   /* //////////////////////// */

   .img-banner-div .row>*{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 30px;
    /* overflow-x: hidden !important; */
   }


   .img-contact .fixed-banner{
    
    /* width: 100% !important; */
    width: 100%; /* Set fixed width */
    height: 400px; /* Set fixed height */
    object-fit: cover;
    
   }




   /* //////////////////////////////////
    */

    /* about us  */


    /* /////////////////////////// */


    .banner-about {
        /* background: url('/image/About\ us.jpeg') no-repeat center center; */
        background-size: cover;
        height: 60vh; /* Adjust for responsive height */
        position: relative;
    }

    .banner-overlay-about {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6); /* Overlay with opacity */
        
    }

    /* .banner-text-about {
        position: absolute;
        color: #fff;
        text-align: center;
        z-index: 1;
    } */

    .banner-text-about h1 {
        font-size: calc(1.5rem + 2vw); /* Responsive font size */
    }

    @media (max-width: 768px) {
        .banner-about {
            height: 60vh; /* Increase height for smaller screens */
        }
    }

    @media (max-width: 576px) {
        .banner-about {
            height: 70vh; /* Further adjust for extra small screens */
        }
    }




    @media (max-width: 767.98px) { 
        .border-sm-start-none { 
            border-left: none !important; 
        }
     }



     /* ////////////////////////////////////
     
     product-card
     ///////////////////////////////// */
     


     .product-description{
        font-size: 3vw !important;
        color: #5e5e5e;
    }
    .our-product-description{
        font-size: 3vw !important;
    }
     @media (min-width:767.98px){
        .product-description{
            font-size: 2vw !important;
        }
        .our-product-description{
            font-size: 2vw !important;
        }

     }
     @media (min-width:1600.98px){
        .product-description{
            font-size: 1vw !important;
        }
        .our-product-description{
            font-size: 1vw !important;
        }

     }



     /* /////////////////////////////////// */

     /* client */


     /* ////////////////////////////////////// */
     .finix-text h6{
        color: #e73c3e;
        font-weight: 400;
        font-size: 17px;
      }
      .finix-text h2 {
        font-weight: 400;
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .finix-text p {
        color: #606060;
        font-size: 15px;
        line-height: 1.8rem;
      }
      .why-choose-us {
        margin-top: 90px;
      }
      .why-choose-us .finix-text h2 {
        font-weight: 500;
      }
      .why-choose-us .ct-btn {
        display: inline-block;
        width: 85px;
        height: 85px;
        line-height: 85px;
        text-align: center;
        border-radius: 50%;
        font-size: 60px;
        background: #fff;
        position: absolute;
        top: 77%;
        right: 43%;
      }
      .why-choose-us .ct-btn::before {
        content: "";
        height: 85px;
        width: 85px;
        position: absolute;
        top: 0;
        left: 0;
        background: #e73a3e;
        border-radius: 50%;
        animation: choose 1.6s ease-out infinite;
      }
      @keyframes choose{
        0%,30%{
            transform: scale(0);
            opacity: 1;
        }
        50%{
            transform: scale(1.5);
            opacity: .7;
        }
        100%{
            transform: scale(2);
            opacity: 0;
        }
      }
      .why-choose-us .ct-btn a{
        color: #e73c3e;
      }
      .why-choose-us .feature-box {
        background: #fff;
        padding: 30px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
      
        transition: .4s;
      }
      .why-choose-us .feature-box:hover {
        transform: translateY(-10px);
      }
      .why-choose-us .feature-box:hover .fbc-btn{
        background: #e73c3e;
        color: #fff;
      }
      .why-choose-us .feature-box::before {
        content: "";
        position: absolute;
        top: -115px;
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
        height: 70%;
        background: #fdebeb;
        border-radius: 50%;
        z-index: -1;
      }
      .why-choose-us .fbc-btn {
        display: inline-block;
        height: 90px;
        width: 90px;
        line-height: 90px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        color: #e73a3e;
        position: relative;
        transition: .4s;
      }
      .active-feature{
        margin-top: -30px;
      }
      .why-choose-us .finix-text{
        position: relative;
      }



      /* ///////////////////////////////////// */



      .text-blk {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        line-height: 25px;
      }
      
      .responsive-cell-block {
        min-height: 75px;
      }
      
      .responsive-container-block {
       
        min-height: 75px;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        justify-content: space-evenly;
      }
      
      .outer-container {
        padding-top: 10px;
        padding-right: 50px;
        padding-bottom: 10px;
        padding-left: 50px;
        background-color: rgb(231, 231, 231);
      }
      
      .inner-container {
        max-width: 1320px;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;
      }
      
      .section-head-text {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
        font-size: 35px;
        font-weight: 700;
        line-height: 48px;
        color: #3D52A0;
        margin: 0 0 10px 0;
      }
      
      .section-subhead-text {
        font-size: 25px;
        color: rgb(110, 110, 110);
        line-height: 35px;
        max-width: 470px;
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 60px;
        margin-left: 0px;
      }
      
      .img-wrapper {
        width: 100%;
      }
      
      .team-card {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .social-media-links {
        width: 125px;
        display: flex;
        justify-content: space-between;
      }
      
      .name {
        font-size: 25px;
        font-weight: 700;
        color: rgb(102, 102, 102);
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 0px;
      }
      
      .position {
        font-size: 25px;
        font-weight: 700;
        color: #1e2b5a;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
      }
      
      .team-img {
        width: 100%;
        height: 100%;
      }
      
      .team-card-container {
        width: 280px;
        margin: 0 0 40px 0;
      }
      
      @media (max-width: 500px) {
        .outer-container {
          padding: 10px 20px 10px 20px;
        }
      
        .section-head-text {
          text-align: center;
        }
      }

      .client-section-1{
        width: 40vw ;
    }


      /* ///////////////////////////////// */
      @media  (max-width:991px){
        .client-section-1{
            width: 90vw !important;
        }
      }


      /* /////////////////////////////////////////
      logo
      ///////////////////////////////////// */
      @media (min-width:768px) {
          .ite-mac-logo{
            height: 30px;
          }
          
        }
        
        .ite-mac-logo{
          height: 17px !important;
        }




        /* //////////////////////////
        contact us fixed button
        ////////////// */


        .contact-us-btn1 {
          height: 50px;
          width: 50px;
          position: fixed;
          bottom: 20px;
          right: 20px;
          z-index: 1000;
          background-color: #3D52A0;
          color: #fff;
          border: none;
          border-radius: 50px;
          padding: 0;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.2s ease;
        }
    
        .contact-us-btn1:hover {
          background-color: #1e2b5a;
          transform: scale(1.1);
        }
        .contact-us-btn1 i:hover{
          transition: background-color 0.3s ease, transform 1s ease-in-out;
          transform: rotate(360deg) scale(1.5);
        }
        /* Modal Title with Icon Hover Effect */
        .modal-title i {
          color: #3D52A0;
          transition: color 0.3s ease, transform 0.2s ease;
        }
    
        .modal-title i:hover {
          color: #1e2b5a;
          transform: rotate(20deg);
        }